* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #d1caca;
  height: 100vh;
}

.moreAboutPokemon {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.containerInfoPokemon {
  max-width: 400px;
  background-color: #49d0b0;
  margin: 5rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
}


.containerPokemon {
  padding: 4rem;
  height: 350px;
}
.containerPokemon {
  position: relative;
  z-index: 2; /* fica acima */
}

.detailsPokemon {
  position: relative;
  z-index: 1; /* fica abaixo */
  opacity: 0;
  transform: translateY(80px); /* começa mais abaixo */
  animation: slideUpFade 0.6s ease-out forwards;
  animation-delay: 0.3s;
}
@keyframes slideUpFade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.pokemon{
  color: #fff;
  list-style: none;
  text-transform: capitalize;
  display: flex;
  flex-direction: column; 
}
.pokemon .name {
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
  
}
.pokemon .number {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: right;
}



.detailsPokemon {
  background-color: #f2f2f2;
  border-radius: 2rem;
  padding: 3rem;
  height: 450px;
}
.detailsPokemon nav ul{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  list-style: none;
  
}
.detailsPokemon nav ul a{
  text-transform: capitalize;
  font-weight: 700;
  color: #9b9494;
  cursor: pointer;
  text-decoration: none;
}


.detail ol {
  flex-direction: row;
  gap: 1rem;
  list-style: none;
  display: flex;
  align-items: space-around;
  margin: .65rem;
  
}
.detail li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #82e1d1;
  padding: 0.25rem .65rem;
  color: #fff;
  border-radius: 1rem;
}

.info {
  list-style: none;
  margin-top: 1rem;
} 
.info li {
  display: grid;
  grid-template-columns: 100px 1fr ; /* Ajuste os tamanhos conforme necessário */
  align-items: center;
  margin-top: 1rem;

}
.info li .title {
  font-weight: 700;
}                                           
.title {
  text-transform: capitalize;
  font-weight: 600;
  color: #9b9494;
  cursor: pointer;
  text-decoration: none;
}
.breeding {
  margin-top: 2rem;
}

.breeding ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.breeding li {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 100px 1fr 1fr; 
  align-items: center;
  
}

.breeding li span {
  text-transform: capitalize;
  text-align: left;
}

.breeding .title {
  font-weight: 700;
}

.detailsPokemon nav ul a.active {
  position: relative;
  color: #4caf50;
}

.detailsPokemon nav ul a.active::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #4caf50;
  border-radius: 2px;
}


.stats li{
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 130px; 
  align-items: center;
  gap: .5rem;
}
.stats li span{
  text-transform: capitalize;
  text-align: left;
  gap: 1rem;
} 
.stats .title {
  font-weight: 700;
} 
.bar {
  align-items: left;
  width: 100%;
  background-color: #fd1818;
  border-radius: 5px;
  overflow: hidden;
  height: 2px;
}
.bar .progress {
  height: 100%;
  background-color: #4caf50;
}
.typeDefenses {
  margin-top: 2rem;
}
.baseStats {
  display: none;
}
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}
.evolution {
  display: none;
}
.tab-content {
  display: none;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.tab-content.active {
  display: block;
  opacity: 1;
}
